.auth-login {
  .inner {
    padding: 0 10rem;
  }
  h1 {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 15rem;
  }
  p {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 10rem;
  }
  button {
    border: 1px solid rgb(0 0 0 / 10%);
    font-size: 1.7rem;
    border-radius: 1rem;
    padding: 1rem 3rem;
    display: flex;
    cursor: pointer;
  }
}