.auth_signup {
  .inner {
    max-width: 60rem;
  }
  h2 {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
  }
  form {
    margin-bottom: 1rem;
    legend {
      margin-bottom: 1rem;
      font-size: 1.7rem;
      font-weight: 500;
    }
    input {
      margin-bottom: 2rem;
      &::placeholder {
        font-size: 1.6rem;
        font-weight: 400;
        color: #a6b1bf;
      }
    }
  }
  a {
    span {
      border-bottom: 1px solid #5f5f5f;
    }
  }
  p {
    text-align: center;
    margin: 1rem 0 5rem;
    &.error {
      color: rgb(255, 0, 98);
      margin-bottom: 0;
      font-size: 1.6rem;
    }
  }
  .google_button {
    margin-top: 5rem;
  }
  .login_button {
    font-size: 1.5rem;
  }
}
